<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <script src="../../js/Markdown.Converter.js" th:src="@{/js/Markdown.Converter.js}"></script>
    <script src="../../js/Markdown.Sanitizer.js" th:src="@{/js/Markdown.Sanitizer.js}"></script>
    <script src="../../js/Markdown.Editor.js" th:src="@{/js/Markdown.Editor.js}"></script>

    <link rel="stylesheet" type="text/css" href="../../css/pagedown.css" th:href="@{/css/pagedown.css}"/>
</head>

<body>

<section layout:fragment="content">

    <script>
        $(document).ready(function() {
            var converter = Markdown.getSanitizingConverter();

            converter.hooks.chain("preConversion", function (text) {
                return text.replace(/===cut===/g, '');
            });

            var editor = new Markdown.Editor(converter);

            editor.run();

            $("#wmd-button-row").append(
                    '<li class="wmd-button" style="left: 400px; top: -10px;"><a id="insertSeparator" class="btn btn-default btn-sm">short/full text separator</a> </li>');

            jQuery.fn.extend({
                insertAtCaret: function(myValue){
                    return this.each(function(i) {
                        if (document.selection) {
                            this.focus();
                            var sel = document.selection.createRange();
                            sel.text = myValue;
                            this.focus();
                        }
                        else if (this.selectionStart || this.selectionStart == '0') {
                            var startPos = this.selectionStart;
                            var endPos = this.selectionEnd;
                            var scrollTop = this.scrollTop;
                            this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
                            this.focus();
                            this.selectionStart = startPos + myValue.length;
                            this.selectionEnd = startPos + myValue.length;
                            this.scrollTop = scrollTop;
                        } else {
                            this.value += myValue;
                            this.focus();
                        }
                    });
                }
            });

            $('#insertSeparator').click(function(){
                var $textarea = $('#wmd-input');
                $textarea.insertAtCaret('===cut===');
            });

            $("#postForm").validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 3
                    },
                    tags: {
                        required: true
                    },
                    text: {
                        required: true,
                        minlength: 50
                    }
                }
            });

            $(window).bind('beforeunload', function(){
                if ($.trim($('#wmd-input').val()) != '')
                    return 'You have not submitted your post.';
            });

            $(document).on("submit", "form", function(event){
                $(window).off('beforeunload');
            });
        });
    </script>

    <div class="col-sm-8">
        <h2 th:text="${edit} ? 'Edit post' : 'Create post'"></h2>

        <form th:action="${edit} ? @{/post/edit(id=${post.id})} : @{/post/create}" th:object="${post}" method="post" id="postForm">
            <div th:if="${#fields.hasErrors('*')}">
                <ul class="list-no-indent">
                    <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" th:field="*{title}"/>
            </div>

            <div class="form-group wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea class="wmd-input" id="wmd-input" th:field="*{text}"></textarea>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>

            <div class="form-group">
                <label for="tags">Tags:</label>
                <input type="text" class="form-control" id="tags" th:field="*{tags}" placeholder="c++, php"/>
            </div>

            <button type="submit" class="btn btn-default" th:text="${edit} ? 'Save' : 'Submit'"></button>

        </form>
    </div>
</section>

</body>
</html>