<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layouts/blog">

<head>
    <title th:text="'Blog — ' + ${post.title}"></title>

    <script src="../../js/Markdown.Converter.js" th:src="@{/js/Markdown.Converter.js}"></script>
    <script src="../../js/Markdown.Sanitizer.js" th:src="@{/js/Markdown.Sanitizer.js}"></script>
    <script src="../../js/Markdown.Editor.js" th:src="@{/js/Markdown.Editor.js}"></script>

    <link rel="stylesheet" type="text/css" href="../../css/pagedown.css" th:href="@{/css/pagedown.css}"/>
</head>

<body>

<section layout:fragment="content">

    <script th:inline="javascript">
        $(document).ready(function() {
            var commentsReloadUrl = /*[[@{/comments/show(postid=${post.id})}]]*/ '';


            if (location.hash = '#comments') {
                $('.comments').get(0).scrollIntoView();
            }

            var $commentForm = $('#commentForm');

            if ($commentForm.length) {
                var converter = Markdown.getSanitizingConverter();

                var editor = new Markdown.Editor(converter);

                editor.run();

                $commentForm.validate({
                    rules: {
                        commentText: {
                            required: true
                        }
                    },
                    messages: {
                        commentText: {
                            required: "Empty comments not allowed"
                        }
                    }
                });

                var $commentErrorLabel = $('#commentError');
                var $submitCommentBtn = $commentForm.find(":submit");
                var $commentLoadingIndicator = $('#commentLoadingIndicator');

                // ajax submit comment form
                $commentForm.on('submit', function(e) {
                    e.preventDefault();

                    var data =  $commentForm.serializeArray();

                    $commentErrorLabel.hide();

                    if ($commentForm.valid()) {
                        $submitCommentBtn.prop('disabled', true);
                        $commentLoadingIndicator.show();

                        $.ajax({
                            type: 'post',
                            url: $commentForm.attr('action'),
                            data: data,
                            success: function (data) {
                                if (data == 'ok') {
                                    $commentForm[0].reset();
                                    $('#wmd-preview').empty();

                                    // reload comments list
                                    $.ajax({
                                        url: commentsReloadUrl,
                                        success: function (s) {
                                            var $commentList = $('#commentList');

                                            $commentList.html(s);

                                            $commentList.children().last()[0].scrollIntoView();
                                            window.scrollBy(0, -100);
                                        },
                                        complete: function() {
                                            $submitCommentBtn.prop('disabled', false);
                                            $commentLoadingIndicator.hide();
                                        }
                                    });
                                }
                                else {
                                    $submitCommentBtn.prop('disabled', false);
                                    $commentLoadingIndicator.hide();
                                    $commentErrorLabel.text(data);
                                    $commentErrorLabel.show();
                                }
                            },
                            error: function () {
                                $submitCommentBtn.prop('disabled', true);
                                $commentLoadingIndicator.hide();
                                $commentErrorLabel.text('Failed to send request.');
                                $commentErrorLabel.show();
                            }
                        });
                    }
                });
            }
        });
    </script>

    <div class="post">
        <h2 class="post-title" th:text="${post.title}"></h2>
        <p class="post-date" th:text="${#dates.format(post.dateTime, 'MMM dd, yyyy HH:mm:ss')}"></p>

        <div class="post-tags">
            <a class="post-tag" th:each="tag : ${post.getTags()}" th:text="${tag.name}" th:href="@{/tag(name=${tag.name})}"></a>
        </div>

        <div class="post-content" th:utext="${post.fullPostTextHtml()}"></div>
    </div>

    <div class="comments">
        <p class="lead">Comments</p>

        <div id="commentList"  th:include="fragments/comments :: commentList (comments=${post.getComments()})"></div>

        <div class="col-sm-8 comment-form">
            <p class="lead">Add a comment</p>

            <div class="col-sm-4" th:unless="${#authorization.expression('isAuthenticated()')}">
                <th:block th:include="fragments/loginform :: form ('comments')"/>
            </div>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div>
                    <form th:action="@{/comment/add}" th:object="${comment}" method="post" id="commentForm">
                        <div th:if="${#fields.hasErrors('*')}">
                            <ul class="list-no-indent">
                                <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>

                        <div class="form-group wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input" id="wmd-input" th:field="*{commentText}"></textarea>
                            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                        </div>

                        <input type="hidden" th:value="${post.id}" name="postid"/>

                        <button type="submit" class="btn btn-default">Submit</button>

                        <div>
                            <img th:src="@{/images/ajax-loader.gif}" id="commentLoadingIndicator" style="display:none" />
                        </div>

                        <div>
                            <label class="error" id="commentError"></label>
                        </div>

                    </form>
                </div>

            </th:block>
        </div>
    </div>
</section>

</body>
</html>