<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layouts/blog">

<head>

</head>

<body>

<section layout:fragment="content">
    <p th:text="${message}"></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula ipsum eget lorem bibendum, a dignissim dui vestibulum. Duis aliquet dignissim ultricies. Vestibulum id diam at eros lacinia dapibus. Donec posuere felis ac leo tempor varius. Nullam interdum nibh sit amet lacinia laoreet. Quisque maximus eros non diam molestie vulputate. Phasellus commodo convallis nisi at dapibus. Aliquam erat volutpat. Donec eleifend felis magna, eget laoreet quam feugiat vel. Quisque et nunc pulvinar eros facilisis vulputate vel vitae ipsum. Maecenas viverra quam at nisl malesuada, vitae facilisis quam luctus. Sed lorem felis, pellentesque sit amet vulputate quis, rhoncus nec purus. Maecenas a tellus elit.
    </p>
    <p>
        Nullam maximus euismod quam, quis malesuada mauris sollicitudin volutpat. Praesent maximus luctus justo ullamcorper euismod. Donec congue nulla vitae diam porta aliquam. Aenean vulputate fringilla lacus eu suscipit. Donec sed volutpat velit, et congue est. Nam pulvinar faucibus sem, a suscipit erat. Morbi efficitur malesuada lorem, quis convallis ex sodales eget.
    </p>
    <p>
        Donec suscipit sapien nec orci porta feugiat. Sed lobortis orci vel gravida finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis ipsum eu sapien ultrices, at pulvinar turpis consequat. Aliquam sodales arcu sit amet feugiat blandit. Praesent ullamcorper ac ipsum venenatis venenatis. Proin efficitur tempor sem eu pretium. Maecenas pellentesque odio quis vestibulum finibus. Duis eget hendrerit urna, vitae finibus diam. Nunc sed iaculis quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi gravida sapien in libero rutrum, et vehicula ante bibendum. Quisque nec dui nec nisl porttitor luctus at consequat diam. Aliquam dignissim in lorem sed semper. Ut tincidunt nisl lectus, et feugiat nibh molestie vitae.
    </p>
    <p>
        Nam molestie commodo quam eu cursus. In aliquam justo ut dui fermentum gravida. Etiam dignissim quam ante, ut lacinia nisl facilisis eu. Curabitur scelerisque tellus nec odio viverra fringilla. Vivamus justo quam, sagittis eu lacus in, ultrices aliquet quam. Aliquam efficitur mattis lacus, et imperdiet ex pellentesque ut. Mauris ac eros auctor, fringilla leo at, mollis turpis. Nulla eget arcu at augue placerat cursus. Donec quis varius turpis, non ultricies sem.
    </p>
    <p>
        Sed in luctus ligula. Pellentesque dapibus feugiat tempus. Pellentesque mollis cursus nulla ac aliquam. In tristique laoreet arcu, non vehicula ipsum imperdiet id. Nunc ut sollicitudin risus. Vivamus feugiat sodales lacus id varius. Curabitur lobortis libero a justo feugiat, quis rutrum tellus gravida. Integer dictum risus sed sem tincidunt, vel blandit sapien porta. Vestibulum at sapien ut neque blandit dapibus sed vel dolor. Vivamus rutrum, velit et faucibus sollicitudin, elit turpis porta nunc, a dictum lectus est at ipsum.
    </p>
</section>

</body>
</html>