<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layouts/blog">

<head>
    <script sec:authorize="hasRole('ROLE_ADMIN')" src="../../js/admin.js" th:src="@{/js/admin.js}"></script>
    <script src="../../js/voting.js" th:src="@{/js/voting.js}"></script>
</head>

<body>

<section layout:fragment="content">
    <div th:if="${searchTags != null}" class="search-header">
        <div>
            <h3>Posts tagged as</h3>
            <a class="post-tag" th:each="tag : ${searchTags}" th:text="${tag}" th:href="@{/posts(tagged=${tag})}"></a>
        </div>
        <div class="search-result">
            <span class="h4" th:text="${postsPage.getTotalElements() == 0} ? 'Tag not found' :(${postsPage.getTotalElements()} + ' post' + (${postsPage.getTotalElements() &gt; 1 ? 's' : ''}))"></span>
        </div>
    </div>

    <div id="postsContainer" th:with="isUser=${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <div th:attr="data-post-id=${post.id}, data-post-title=${post.title}" class="post" th:each="post, iterStat : ${postsPage.getContent()}">
            <div class="post-content">
                <a class="h2 post-title" th:text="${post.title}" th:href="@{|/posts/${post.id}|}"></a>
                <p class="post-date" th:text="${#temporals.format(post.dateTime, 'MMM dd, yyyy HH:mm')}"></p>

                <div class="post-tags">
                    <a class="post-tag" th:each="tag : ${post.getTags()}" th:text="${tag.name}" th:href="@{/posts(tagged=${tag.name})}"></a>
                </div>

                <div class="post-maincontent" th:utext="${post.hasShortTextPart()}? ${post.shortTextPartHtml()} : ${post.fullPostTextHtml()}"></div>

                <div th:if="${post.hasShortTextPart()}">
                    <a class="lead" th:href="@{|/posts/${post.id}|}">Continue &rarr;</a>
                </div>

                <th:block th:if="${post.hidden}">
                    <div class="hidden-post"><span>Not visible for users</span></div>
                </th:block>
            </div>

            <div class="post-actions">
                <div class="post-rating-block" th:title="${isUser} ? '' : 'Log in or register to vote'"
                        th:with="ratingSum=${post.getRatingSum()}, userVoteValue=${post.getUserVoteValue(userId)}">
                    <a class=" rating-arrow like-arrow" href="javascript:void(0)"
                       th:attr="data-action=${isUser and userVoteValue == 0} ? 'vote' : '', data-href=@{|/posts/${post.id}/like|}"
                       th:classappend="${userVoteValue == 1} ? 'voted'"
                       data-vote-type="like">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    <span class="rating-value" th:text="${ratingSum}"
                          th:classappend="${ratingSum == 0} ? 'rating-value-no' : (${ratingSum lt 0} ? 'rating-value-negative' : 'rating-value-positive')"></span>
                    <a class="rating-arrow dislike-arrow" href="javascript:void(0)"
                       th:attr="data-action=${isUser and userVoteValue == 0} ? 'vote' : '', data-href=@{|/posts/${post.id}/dislike|}"
                       th:classappend="${userVoteValue == -1} ? 'voted'"
                       data-vote-type="dislike">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                </div>

                <a class="comments-link" th:href="@{|/posts/${post.id}#comments|}"
                   th:text="${post.comments.size() == 0} ? 'comments' : (${post.comments.size()} + ' comment' + (${post.comments.size() &gt; 1} ? 's' : ''))"></a>

                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/posts/${post.id}/edit|}">edit</a>

                <a sec:authorize="hasRole('ROLE_ADMIN')" href="javascript:void(0)"
                   th:attr="data-action=${post.hidden} ? 'unhidePost' : 'hidePost', data-href=@{|/posts/${post.id}/|} + (${post.hidden} ? 'unhide' : 'hide')"
                   th:text="${post.hidden} ? 'unhide' : 'hide'"></a>

                <a sec:authorize="hasRole('ROLE_ADMIN')" href="javascript:void(0)" th:style="${post.hidden} ? '' : 'display: none;'"
                   th:attr="data-href=@{|/posts/${post.id}/delete|}"
                   data-action="deletePost">delete forever</a>
            </div>
            <div class="postaction-loading-indicator" style="display: none">
                <img  th:src="@{/images/ajax-loader.gif}" />
            </div>
        </div>
    </div>

    <div th:with="searchQueryParam=${searchQuery == null} ? '' : '&amp;' + ${searchQuery}">
        <ul class="pager">
            <li th:unless="${postsPage.isFirst()}">
                <a th:href="@{/posts(page=${postsPage.getNumber() - 1})} + ${searchQueryParam}">&larr; Newer</a>
            </li>
            <li th:unless="${postsPage.isLast()}">
                <a th:href="@{/posts(page=${postsPage.getNumber() + 1})} + ${searchQueryParam}">Older &rarr;</a>
            </li>
        </ul>

        <ul class="pagination">
            <li th:if="${postsPage.getNumber() - 2 ge 0}">
                <a th:href="@{/posts(page=${postsPage.getNumber() - 2})} + ${searchQueryParam}" th:text="${postsPage.getNumber() - 1}"></a>
            </li>
            <li th:if="${postsPage.getNumber() - 1 ge 0}">
                <a th:href="@{/posts(page=${postsPage.getNumber() - 1})} + ${searchQueryParam}" th:text="${postsPage.getNumber()}"></a>
            </li>
            <li class="active">
                <a th:text="${postsPage.getNumber() + 1}"></a>
            </li>
            <li th:if="${postsPage.getNumber() + 1 &lt; postsPage.getTotalPages()}">
                <a th:href="@{/posts(page=${postsPage.getNumber() + 1})} + ${searchQueryParam}" th:text="${postsPage.getNumber() + 2}"></a>
            </li>
            <li th:if="${postsPage.getNumber() + 2 &lt; postsPage.getTotalPages()}">
                <a th:href="@{/posts(page=${postsPage.getNumber() + 2})} + ${searchQueryParam}" th:text="${postsPage.getNumber() + 3}"></a>
            </li>
        </ul>
    </div>
</section>

</body>
</html>