<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <title th:text="'Blog — User ' + ${user.username}"></title>

    <link rel="stylesheet" type="text/css" href="../../css/pagedown.css" th:href="@{/css/pagedown.css}"/>
</head>

<body>

<section layout:fragment="content">
    <div>
        <div class="col-sm-3 no-padding-col profile-info">
            <h3 th:text="${user.username}"></h3>

            <div class="avatar-big">
                <img class="img-responsive img-rounded" src="http://i.imgur.com/ecaVXWH.jpg"/>
            </div>

            <div class="website-link" th:unless="${#strings.isEmpty(user.websiteLink)}">
                <span class="glyphicon glyphicon-link"></span>
                <a th:href="${user.websiteLink}" th:text="${user.websiteLinkTitle}"></a>
            </div>

            <div class="reg-date">
                <span th:text="'Registered ' + ${#temporals.format(user.registrationDate, 'MMM dd, yyyy')}"></span>
            </div>
        </div>

        <div class="col-sm-9 no-padding-col">
            <div th:utext="${user.getAboutTextHtml()}"></div>
        </div>
    </div>
</section>

</body>
</html>