<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <title>Blog — Registration</title>

    <script src="../../js/xregexp-all-min.js" th:src="@{/js/xregexp-all-min.js}"></script>
    <script src="../../js/registration.js" th:src="@{/js/registration.js}"></script>
</head>

<body>

<section layout:fragment="content">
    <script th:inline="javascript">
        window.emailCheckUrl = /*[[@{/check_email}]]*/ '';
        window.usernameCheckUrl = /*[[@{/check_username}]]*/ '';
    </script>

    <div class="col-sm-4 no-padding-col">
        <h2>Registration</h2>

        <form th:action="@{/register}" th:object="${user}" method="post" id="regForm">
            <div th:if="${#fields.hasErrors('*')}">
                <ul class="list-no-indent">
                    <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" th:field="*{password}"/>
            </div>
            <div class="form-group">
                <label for="password2">Repeat password:</label>
                <input type="password" class="form-control" id="password2" name="password2"/>
            </div>
            <button type="submit" class="btn btn-default">Register</button>

        </form>
    </div>
</section>

</body>
</html>