.page-header {
    padding-bottom: 10px;
}

.header-description {
    color: #999;
}

.page-footer {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.col-padding {
    padding-left: 10px;
    padding-right: 10px;
}