.main-content {
    padding-left: 30px;
    padding-right: 30px;
}

.fixed-fluid {
    margin-left: 240px;
}

.fluid-fixed {
    margin-right: 240px;

    margin-left:auto !important;
}

.fixed-fixed {
    margin: 0 240px;
}