
.page-header {
    text-align: center;
    padding-bottom: 10px;
}

.page-footer {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.left {
    float:left;
}

.right {
    float:right;
}