<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <th:block th:fragment="commentList">
        <div class="comment" th:each="comment : ${comments}">
            <a class="comment-title" th:href="@{|/users/${comment.user.username}|}" th:text="${comment.user.username}"></a>
            <span class="post-date" th:text="${#dates.format(comment.dateTime, 'MMM dd, yyyy HH:mm')}"></span>

            <div class="comment-content" th:utext="${comment.getCommentTextHtml()}"></div>
        </div>
    </th:block>

</body>
</html>