<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <th:block th:fragment="commentList">
        <div class="comment" th:attr="data-commentId=${comment.id}" th:each="comment : ${comments}">
            <div class="comment-header">
                <th:block th:unless="${comment.deleted}">
                    <a class="avatar" th:href="@{|/users/${comment.user.username}|}">
                        <img class="img-rounded" src="http://i.imgur.com/ecaVXWH.jpg"/>
                    </a>
                    <a class="comment-username" th:href="@{|/users/${comment.user.username}|}" th:text="${comment.user.username}"></a>
                </th:block>
                <span th:if="${comment.deleted}" class="deleted">[deleted]</span>

                <span class="post-date" th:text="${#temporals.format(comment.dateTime, 'MMM dd, yyyy HH:mm')}"></span>
            </div>

            <div>
                <div class="comment-content" th:classappend="${comment.deleted} ? 'deleted'" th:utext="${comment.deleted} ? '[deleted]' : ${comment.getCommentTextHtml()}"></div>
            </div>

            <div class="post-actions" th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:unless="${comment.deleted}">
                    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (#authentication.name == comment.user.username and comment.userCanEdit())}"
                       href="javascript:void(0)"
                       data-action="editComment"
                       th:attr="data-href=@{|/posts/${post.id}/comments/${comment.id}/edit|},
                           data-maxDate=(${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? '' : ${comment.maxEditTimeUnixTimestamp()})">edit</a>

                    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (#authentication.name == comment.user.username and comment.userCanDelete())}"
                       href="javascript:void(0)"
                       data-action="deleteComment"
                       th:attr="data-href=@{|/posts/${post.id}/comments/${comment.id}/delete|},
                           data-maxDate=(${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? '' : ${comment.maxDeleteTimeUnixTimestamp()})">delete</a>
                </th:block>
            </div>
            <div class="commentaction-loading-indicator" style="display: none">
                <img th:src="@{/images/ajax-loader.gif}" />
            </div>
        </div>
    </th:block>

</body>
</html>